<div class="table-responsive">
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Country Name</th>
        <th scope="col">Capital</th>
        <th scope="col">Region</th>
        <th scope="col">Sub Region</th>
        <th scope="col">Population</th>
        <th scope="col">Currencies</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let country of countries; let i=index;">
        <th scope="row">{{ i+1 }} </th>
        <td> 
          <img src="https://www.countryflags.io/{{country.alpha2Code}}/flat/48.png">
          <b>{{ country.name }} </b>
        </td>
        <td> {{ country.capital }} </td>
        <td> {{ country.region }} </td>
        <td> {{ country.subregion }} </td>
        <td> {{ country.population }} </td>
        <td> {{ country.currencies }} </td>
      </tr>
  </table>
</div>

<!--
    Country Name
    Capital
    Region
    Sub Region
    Population
    Borders
    Timezone
    Currencies
-->